################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlaywireVideoGrabber/obj
/PlaywireVideoGrabber/bin
